<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Body font --}}
    <link href="//db.onlinewebfonts.com/c/6589ed5929cebb60971ece7da8d216bf?family=FastFoodW01-Regular" rel="stylesheet"
        type="text/css" />
    {{!-- icons --}}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    {{!-- CSS  --}}
    <link rel="stylesheet" href="/assets/burger_style.css">
    <title>Burger Time Menu!</title>
</head>

<body>
    {{{ body }}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/app.js"></script>
</body>

</html>